<h2>
  <a href="/profile"><i class="fa fa-angle-left black" aria-hidden="true"></i></a>
  Edit Profile
</h2>
<hr>

<div class="container">
  <br>
  <% user.profile_pics.forEach(function(pic){ %>
    <div class="row">
      <div class="col-12 col-sm-4">
        <img class="profile-pic profile-pic-<%= pic.id %>" src="<%= pic.url %>">
        <a href="/profile/getNewPic/<%=pic.id%>" class="btn gray-background getNewPic"><i class="fa fa-random fa-lg black" aria-hidden="true"></i></a>
        <a href="/profile/revertPic/<%=pic.id%>" class="red-background btn btn-danger revertPic"><i class="white fa fa-times" aria-hidden="true"></i></a>
      </div>
    </div>
  <% }) %>

  <form action="/profile" class="put-form login-form">
    <div class="form-group">
      <label for="about">About <%= user.name %></label>
      <input type="text" name="about" class="form-control" value="<%= user.about %>">
    </div>
    <div class="form-group">
      <label for="work">Current Work</label>
      <input type="text" name="work" class="form-control" value="<%= user.work %>">
    </div>
    <div class="form-group">
      <label for="school">School</label>
      <input type="text" name="school" class="form-control" value="<%= user.school %>">
    </div>
    <div class="form-group">
      <label for="interests">Interests: </label>
      <br>
      <% user.interests.forEach(function(interest){ %>
        <p class="btn btn-secondary"><%= interest.name %></p>
      <% }); %>
    </div>
    <input type="submit" class="btn btn-danger" value="Save Changes">
  </form>
</div>
