<div class="container">
  <a href="#"><img src="/images/doge.jpg"></a>
  <p> <strong><%=potentialUser.name%></strong>, <%=potentialUser.age%> </p>

  <% if(potentialUser.school){ %>
    <p>Studies at <%= potentialUser.school %> </p>
  <% } %>

  <% if(potentialUser.work){ %>
    <p>Works at <%= potentialUser.work %> </p>
  <% } %>

  <hr>

  <p><%= potentialUser.about %></p>

  <hr>

  <p> <%= potentialUser.interests.length %> interests </p>

  <% potentialUser.interests.forEach(function(interest){ %>
    <p class="btn btn-secondary"><%= interest.name %></p>
  <% }); %>

</div>

<div class="container">
  <a href="/potentials" class="btn btn-primary">
    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
  </a>
  <a href="/potentials/match/1/<%=potentialUser.id%>" class="btn btn-primary">
    <i class="fa fa-star fa-2x" aria-hidden="true"></i>
  </a>
  <a href="/potentials/match/1/<%=potentialUser.id%>" class="btn btn-primary">
    <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
  </a>
</div>
