<div class="container">
    <h1>
      <a href="/chatroom">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
      </a>
      <img class="chatroom-pic-small" src=<%= match.profile_pics[0].url %> >
      <%= match.name %>
    </h1>
  <hr>

  <div class="container chatlog">

    <% var allChats = currentUser.chats.concat(match.chats);
    allChats.sort(function(a,b){
      return b.createdAt - a.createdAt;
    }); %>
    <% allChats.forEach(function(message){ %>
      <% if(message.userId == currentUser.id){ %>
        <div class="message-me text-right">
          <p><%=message.content%></p>
          <p><small><%= moment(message.createdAt).fromNow() %></small></p>
        </div>
      <% } else { %>
        <div class="message-potential text-left">
          <p>
            <img class="chatroom-pic-xsmall" src=<%= match.profile_pics[0].url %> >
            <%=message.content%>
          </p>
          <p><small><%= match.name %> <%= moment(message.createdAt).fromNow() %></small></p>
        </div>
      <% } %>
    <% }); %>
  </div>


  <hr>

  <form method="POST" action="/chatroom/<%=match.id%>">
    <div class="form-group">
      <input type="text" name="content" class="form-control" placeholder="Send a message...">
    </div>
    <input type="submit" class="btn btn-danger" value='>'>
  </form>
</div>
